<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Startpagina</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    </head>
    <body>
        <main>
            <section>
                <h2>Teverzamelen</h2>
                <p>
                    <a target="_blank" href="https://www.teverzamelen.nl/reading_list">{{ reading_list.user.capitalize() }}</a> moet nog {{ reading_list.num_to_read }} lezen en is met {{ reading_list.num_busy_reading }} bezig.
                </p>
            </section>
            <section>
                <h2>Advent of code</h2>
                <ul>
                {% for aoc in aocs %}
                    <li>
                        <a target="_blank" href="https://adventofcode.com/{{ aoc.year }}/">{{ aoc.year }}</a> &mdash; {{ aoc.num_open_days }} te doen
                    </li>
                {% endfor %}
                </ul>
            </section>
            <section>
                <h2>Series</h2>
                <ul>
                {% for show in shows %}
                    <li>
                        <a target="_blank" href="https://www.tvmaze.com/watchlist">{{ show.name }}</a> &mdash; {{ show.num_acquired }} te kijken
                        <!-- todo link -->
                    </li>
                {% endfor %}
                </ul>
            </section>
        </main>
    </body>
</html>
